* {
  box-sizing: content-box;
}

main {
  background-color: grey;
  margin: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:  "header header"
                        "sidebar main"
                        "footer footer";
}

.grid > div {
  margin: 2rem;
  padding: 1rem;
  background-color: darkgrey;
  color: darkgreen;
  border: 1px solid darkgreen;
  text-align: center;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer
}

/* KLUGE? I want to center the text for sidebar and main content. Solution was to make the flex-items also containers, then justify and align worked as expected. */

.sidebar {
  height: 15rem;
  display: flex;
}

.content {
  height: 15rem;

  grid-area: main;

  display: flex;
}

.content div, .sidebar div {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}