* {
  /* We want to change box-sizing on all elements.
     If you place this on body, it will be overriden by 
     browser defaults which are more specific than inheritiance.
     This is the rare case were we use the global selector
     which is more specific than inheritance.
   */
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  margin: 0;
}

/* This messes with our style to ensure footer is at the bottom of page.
html, body {
  height: 100%;
} */

#modal-backdrop,
#mobile-nav-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(243, 243, 180, 0.322);
}

.button {
  color: white;
  background-color: rgb(175, 98, 3);
  font: inherit;
  border: 1.5px solid rgb(175, 98, 3);
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: rgb(175, 98, 3);
}

/** in the video, max shows the style on :focus
    but in the latest version of chrome it's only present
    in the (new) :focus-visible */
.button:focus,
.button:focus-visible {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #747474;
  background-color: #ccc;
  color: #747474;
}


.open {
  /* use !important to ensure this lower priority style is used over high priority styles */
  display: block !important;
}

main {
  /* ensure that main takes up vertical space such that the footer 
     is always at the bottom of the viewport 
     
     The calc is the vh minus the size of navbar (3.5rem) minus size of the footer (8rem).
  */
  min-height: calc(100vh - 4rem - 131px);
  margin-top: 4rem;
}

.main-header {
  background: rgb(74, 224, 74);
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* ensure that header does shrink */
  min-height: 4rem;
}

.main-header__brand {
  color: #08630e;
  text-decoration: none;
  font-weight: bold;
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.main-nav__item {
  margin: 0 1rem
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #08630e;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

/** order in this file matters with this selector
    and "main-nav__item a" which are same level of
    specificity. */
.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: rgb(228, 93, 93);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: rgb(228, 93, 93);
  background: white;
  border: none;
  /* remove border change */
}

.main-footer {
  background-color: black;
  color: white;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__item {
  margin: 1rem 0;
}

.main-footer__item a {
  color: white;
  text-decoration: none;
}

.main-footer__item a:hover,
.main-footer__item a:active {
  color: grey;
}

/***** nav sidebar *****/
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;

  /* KLUGE: vh causes scrollbars on windows, use % */
  /* height: 100vh; */
  height: 100%;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

@media (min-width: 40rem) {
  .main-nav {
    display: flex;
  }

  .toggle-button {
    display: none;
  }

  .main-footer__item {
    display: inline-block;
    margin: 0 1rem;
  }
}