#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") center/cover no-repeat border-box, bisque;
  /* KLUGE: do NOT use 100vw here, scrollbars will appear (only on Windows) */
  width: 100%;
  height: 33vh;


  /* to allow #product-overview h1 to position itself relative to us */
  position: relative;
}

/* slogan text 

  this is a combinator: h1 is a child of an element with id=product-overview 
*/
#product-overview h1 {
  color: white;
  font-family: Georgia, sans-serif;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 1.6rem;
}

.section-title {
  color: rgb(250, 175, 83);
  text-align: center;
}

.plan {
  background-color: bisque;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background-color: rgb(243, 176, 95);
  color: white;
}

.plan__annotation {
  background-color: white;
  color: rgb(243, 176, 95);
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.plan__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan__item {
  margin: 0.5rem 0;
}

.plan__title {
  color: rgb(255, 142, 4);
}

.plan__price {
  color: grey
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: rgb(175, 98, 3);
}

#key-features {
  background-color: rgb(241, 60, 90);
  color: white;
  margin-top: 80px;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
  padding: 1rem;
}

.key-feature__items {
  margin: 0;
  padding: 0 0 1rem 0;
  list-style: none;
  text-align: center;
}

.key-feature__item-desc {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}

.key-feature__image {
  background-color: rgb(233, 165, 177);
  width: 128px;
  height: 128px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.5rem;
}

/***** MODAL ******/
.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* We are adjusting all styles to look good on mobile
   and then defining a breakpoint with corresponding
   styles for larger screens which have a width >= x.
*/

/* medium screens */
@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

@media (min-width: 40rem) {
  .plan__articles {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5rem;
    height: 30rem;

    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
  }

  .plan--highlighted {
    /*          X   Y   blur  spread  color               */
    /*                                last arg is opacity */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 32rem;
  }
   
  .key-feature__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .key-feature__item {
    width: 30%;
    max-width: 25rem;
  }

}