body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#product-overview {
  background: rgb(219, 30, 5);
}

.section-title {
  color: rgb(15, 238, 134);
}

/* combinator
  h1 is a child of an element with id=product-overview 
*/
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* h1 {
  font-family: sans-serif;
} */
