.container {
    height: 500px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [r1] 5rem [r1end r2] minmax(10px, 100px) [r2end r3] 100px [r3end];
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: r2;
    grid-row-end: span 1;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: r1;
    grid-row-end: r2end;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}