main {
  padding-top: 32px;
}

.background {
  background: url("plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package__section {
  margin: 16px 0;
  border: 4px solid darkgreen;
  border-left: none;
  width: 80%;
}

.package__section:active,
.package__section:hover {
  border: 4px solid lightcoral;
  border-left: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

/* title */
.package__link h1 {
  color: black;
  font-weight: bold;
}

/* subtitle */
.package__link h2 {
  color: grey;
}

/* info */
.package__link p {
  background-color: white;
  color: green;
  padding: 16px;
  border: solid 1px green;
  font-size: 20px;
}

#plus {
  color: white;
  background-color: rgba(213, 255, 220, 0.90);
}

#free {
  background-color: rgba(234, 252, 237, 0.90);
  float: right;
  border-right: none;
  border-left: 4px solid darkgreen;
  text-align: right;
}

#free:active,
#free:hover {
  border-left-color: lightcoral;
}


#premium {
  background-color: rgba(14, 79, 31, 0.90);
}

/* title */
#premium h1 {
  color: white;
}

/* subtitle */
#premium h2 {
  color: #bbb;
}
